// Vendors (so'nggi bo'lib kiritiladi)
@import "../css/vendors/nozmalize";
// Utils (har doim birinchi bo'lib kiritiladi)
@import "../css/utils/variable";
@import "../css/utils/mixins.scss";
@import "../css/utils/functions";

// Base
@import "../css/base/reset";
@import "../css/base/typography";

// Layout
@import "../css/layout/header";
@import "../css/layout/footer";

// Components
@import "../css/components/buttons";

// Pages
@import "../css/pages/home";
@import "../css/pages/contact";

// hero
.hero {
  padding-top: 2rem;
  padding-bottom: 6rem;
}
.hero__container {
  width: 100%;
  height: 100vh;
  background-image: url(../images/maluba.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hero__title {
  font-weight: 600;
  font-size: $large-fs;
  line-height: $large-lh;
  margin-top: 6rem;
}

.hero__description {
  width: 41.6rem;
  font-weight: 400;
  font-size: $small-fs;
  line-height: $small-lh;
  text-align: center;
  margin-top: 1rem;
}

.hero__input {
  width: 60rem;
  padding: 2.2rem 31.8rem 2.2rem 3rem;
  border-radius: 10rem;
  border: none;
  position: absolute;
  right: 30rem;
  left: 30rem;
  bottom: 5rem;
  outline: none;
}

.hero__input::placeholder {
  font-family: "Montserrat";
  font-weight: 500;
}

// Collection section

.collection {
  padding-top: 7rem;
  padding-bottom: 8rem;
}

.collecton__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection__title {
  font-weight: 600;
  font-size: $large-fs;
  line-height: $large-lh;
}

.collection__description {
  width: 57.5rem;
  font-weight: 400;
  font-size: $small-fs;
  line-height: $small-lh;
  text-align: center;
}
.collection__btn__box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.collection__btn {
  &:first-child {
    width: 15.5rem;
    height: 5.8rem;
  }
}

.collection__btn {
  &:nth-child(2) {
    width: 17rem;
    height: 5.8rem;
  }
}

.collection__btn {
  &:nth-child(3) {
    width: 11.9rem;
    height: 5.8rem;
  }
}

.collection__cars {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 37rem);
  grid-template-rows: repeat(2, 42rem);
  gap: 2rem;
  margin-top: 2.4rem;
}

.cars__card {
  background-color: $dark-card-background-color;
  border: 1px solid $dark-border-color;
  border-radius: 1.6rem;
  padding: 3rem 2.4rem;
}

.cars__card {
  &:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.cars__card {
  &:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.cars__card {
  &:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

.cars__card {
  &:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.cars__card {
  &:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.cars__card {
  &:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}

.card__title {
  font-weight: 600;
  font-size: $middle-fs;
  line-height: $middle-lh;
}
.card__description {
  font-weight: 500;
  font-size: $small-fs;
  line-height: $small-lh;
}
.car__img {
  width: 100%;
  height: 22rem;
  object-fit: contain;
}

.card__seat {
  display: flex;
  gap: 1.2rem;
}

.card__years {
  display: flex;
  gap: 1.2rem;
  margin-top: 2.4rem;
}

.card__gear {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.card__fuel {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 2.4rem;
}

.card__info__box {
  display: flex;
  gap: 5.4rem;
}

._collection__btn {
  margin-top: 4rem;
}

// Service section
.cars_brend {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.cars__brend__text {
  font-weight: 500;
  font-size: $middle-fs;
  line-height: $middle-lh;
}
.cars__brend__box {
  display: flex;
  align-items: center;
  gap: 6rem;
  margin-top: 3.4rem;
}
.cars__img {
  width: 14rem;
  height: 4rem;
}
// Services section
.services {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__title {
  font-weight: 600;
  font-size: $large-fs;
  line-height: $large-lh;
}
.services__description {
  width: 64rem;
  text-align: center;
  font-size: $small-fs;
  line-height: $small-lh;
}
.services__grid {
  width: 100%;
  display: grid;
  margin-top: 4rem;
  gap: 2rem;
  grid-template-columns: repeat(3, 58rem);
  grid-template-rows: repeat(2, 21.6rem);
}

.grid__box {
  padding: 4rem 3.4rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $dark-card-background-color;
}

.grid__box {
  &:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.grid__box {
  &:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.grid__box {
  &:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.grid__box {
  &:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.grid__box__title {
  font-weight: 500;
  font-size: $largeh2-fs;
  line-height: $largeh2-lh;
  margin-bottom: 1rem;
}

.grid__box__description {
  width: 35.4rem;
  font-weight: 400;
  font-size: $small-fs;
  line-height: $small-lh;
}

.grid__box__img {
  width: 6rem;
  height: 6rem;
}

// Safety section
.safety {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.safety__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid $dark-card-background-color;
  border-radius: 2rem;
  background-image: url(../images/green__box.png);
  background-repeat: no-repeat;
  background-position: top 2rem right 7rem;
}

.safety__content {
  width: 60rem;
}

.safety__title {
  font-weight: 600;
  font-size: $large-fs;
  line-height: $large-lh;
  margin-bottom: 1rem;
}

.safety__description {
  font-weight: 400;
  font-size: $small-fs;
  line-height: $small-lh;
  margin-bottom: 9.4rem;
}

.safety__icons__box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.safety__box {
  width: 20rem;
  height: 16rem;
  padding: 1.5rem;
  border-radius: 1.6rem;
  background-color: $dark-card-background-color;
}

.safety__box__icon {
  width: 3rem;
  height: 3rem;
  margin-left: 14rem;
}

.safety__box__text {
  width: 17rem;
  margin-top: 3rem;
}

.safety__img {
  margin-top: 5rem;
}

// Footer
.footer {
  padding-top: 8rem;
  padding-bottom: 3rem;
}
.footer__container {
}

.footer__navbar {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.footer__logo {
  width: 24rem;
  .footer__logo__img {
    margin-top: 2rem;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
}
.footer__item {
  display: flex;
  flex-direction: column;
}
.footer__link {
  font-weight: 500;
  font-size: $mini-fs;
  line-height: $mini-lh;
  margin-bottom: 1.2rem;
  color: $light-background-color;
  border-bottom: 2px solid transparent;
}

.footer__link:hover {
  border-color: $dark-muted-text-color;
}

.bold__link {
  font-weight: 500;
  font-size: $small-fs;
  line-height: $small-lh;
  margin-bottom: 1.6rem;
}

// Footer socials
.footer__socials {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__socials__navbar {
  display: flex;
  align-items: center;
  gap: 4.1rem;
  margin-left: 5rem;
}
.socials__description {
  width: 15.8rem;
  font-weight: 500;
  font-size: $small-fs;
  line-height: $small-lh;
}

.socials__link {
  font-weight: 500;
  font-size: $mini-fs;
  line-height: $mini-lh;
  margin-bottom: 1.2rem;
  color: $light-background-color;
  border-bottom: 2px solid transparent;
}

.social-network {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.social__text {
  position: absolute;
  margin-top: -5rem;
}

.social__box {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  background-color: $light-background-color;
}

.btn__up {
  width: 7rem;
  height: 7rem;
  background-color: $dark-primary-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
