html {
  font-size: 62.5%;
}

body {
  font-family: $main-ff;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: $dark-background-color;
  color: $light-background-color;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
  outline: none;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: $light-background-color;
  background-color: $dark-primary-color;
  padding: 1.8rem 3rem;
  border-radius: 3rem;
}

.dark__btn {
  display: inline-block;
  padding: 1.9rem 4rem;
  border-radius: 10rem;
  color: $light-background-color;
  background-color: $dark-background-color;
  border: 1px solid $dark-muted-text-color;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
// section {
//   height: 100vh;
// }
